/* log info */
log-info {
	display: block;
	width: 100%;
	min-height: 2rem;
	color: var(--log);
	padding: 1rem;
}
log-info pre {
	display: block;
	white-space: break-spaces;
	word-wrap: break-word;
}
