/* rtc-user */
rtc-user {
	display: flex;
	flex-direction: column;
	margin: 1em;
	padding: 1em;
}
rtc-user button {
	cursor: pointer;
}
rtc-user button::before {
	margin-right: 0.3em;
}
rtc-user button[type="submit"]::before {
	content: '>';
}
rtc-user button[type="create"]::before {
	content: '+';
}

rtc-peers {
	display: flex;
	flex-direction: column;
}
rtc-peers-header {
	display: flex;
	justify-content: flex-end;
}
rtc-peers-header button {
	margin: 0.3em;
}
rtc-peers-list {
}
rtc-peer[manual-signaling] {
	display: flex;
	flex-direction: column;
	margin-top: 0.7em;
};
rtc-peer[manual-signaling]:first-child {
	margin-top: 1em;
};

rtc-peer-read {
	flex-grow: 1;
	display: flex;
}
rtc-peer-read form {
	display: flex;
	flex-grow: 1;
}
rtc-peer-read input {
	flex-grow: 1;
	margin-left: 0.4em;
}
rtc-logs {
	margin-top: 0.3em;
}
rtc-send-data form {
	display: flex;
	flex-direction: column;
}
