/* pages */
page-home,
page-menu,
page-account {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
page-account  {
	justify-content: center;
}


/* iframe backgrounds */
page-home iframe,
page-menu iframe  {
	position: fixed;
	z-index: -1;
	width:100vw;
	height: 100vh;
	border: none;
}

page-game {
	height: 100%;
	display: block;
}

page-rtc {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
page-rtc rtc-user {
	max-width: 30em;
	border: 0.1em solid var(--text);
}
